In [27]:
import pandas as pd
pd.DataFrame([[1, "abc"], [2, "def"]], columns=("test1", "test2"))

   test1 test2
0      1   abc
1      2   def

In [48]:
import numpy as np
import math as math
arr = np.asarray([[math.e,2], [4,5]])
print(arr.shape)
print(arr)
#print(arr * 3)
np.log(arr)
np.dot(arr, arr)
#pd.DataFrame([[1, "abc"], [2, "def"]], columns=("test1", "test2"))

(2, 2)
[[ 2.71828183  2.        ]
 [ 4.          5.        ]]

array([[ 15.3890561 ,  15.43656366],
       [ 30.87312731,  33.        ]])