In [1]:
# 途中で使用するため、あらかじめ読み込んでおいてください。
# データ加工・処理・分析モジュール
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series, DataFrame
import pandas as pd

# 可視化モジュール
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

# 機械学習モジュール
import sklearn

# 小数第３まで表示
%precision 3

'%.3f'

In [4]:
online_retail_data = pd.ExcelFile("onlineRetail.xls")
online_retail_data_table = online_retail_data.parse('Online Retail')

In [3]:
online_retail_data_table.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
#import itertools
#for num in my_iterator:
#    print 'hello %d' % num

In [17]:
online_retail_data_table.groupby("StockCode").size()
online_retail_data_table.groupby("StockCode").size()
type(online_retail_data_table.groupby("StockCode").size())

pandas.core.series.Series

In [37]:
stockCodeSeries = online_retail_data_table.groupby("StockCode").size()
print(online_retail_data_table.size)
over1000stocks = []
for stockid, itemnum in stockCodeSeries.iteritems():
    if itemnum >= 1000:
        over1000stocks.append(stockid)
print(len(over1000stocks))
online_retail_data_table_over1000 = online_retail_data_table[online_retail_data_table['StockCode'].isin(over1000stocks)]
print(online_retail_data_table_over1000.size)

4335272
40
415208

In [86]:
import itertools
type(itertools.combinations(over1000stocks, 2))
maxsupport = 0.0
maxsupportedpair = ()
for pairstocks in itertools.combinations(over1000stocks, 2):
    online_retail_data_table_first = online_retail_data_table_over1000[online_retail_data_table_over1000["StockCode"]==pairstocks[0]]
    online_retail_data_table_second = online_retail_data_table_over1000[online_retail_data_table_over1000["StockCode"]==pairstocks[1]]
    merge_one_second = pd.merge(online_retail_data_table_first
                           ,online_retail_data_table_second
                           ,on="InvoiceNo"
                           ,how="inner")
    #print(len(merge_one_second.InvoiceNo.unique()) / len(online_retail_data_table.InvoiceNo.unique()))
    currentsupport = len(merge_one_second.InvoiceNo.unique()) / len(online_retail_data_table.InvoiceNo.unique())
    if currentsupport > maxsupport:
        maxsupport = currentsupport
        maxsupportedpair = pairstocks
print(maxsupport)
print(maxsupportedpair)

0.03216216216216216
(22386, '85099B')

答え:
0.03216216216216216
(22386, '85099B')